:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

body {
  height: 100vh;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: var(--button-bg);
  text-align: center;
}

.container {
  display: grid;
  background-color: var(--purple-bg);
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  color: var(--light-purple);
}

button {
  background-color: var(--green);
  border: none;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  color: var(--dark-bg);
  font-weight: 600;
  font-size: 1.2rem;
}
fieldset {
  margin-top: 20px;
}
legend {
  font-size: 1.5rem;
  font-weight: 600;
}
label {
  font-size: 1.4rem;
}

input {
  font-size: 1.3rem;
  text-align: right;
  padding: 5px;
  margin: 5px;
}

select option {
  font-size: 1.2rem;
}
